<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>simpleCRUD</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main">
    <div class="wrapper"> <!-- "main" and "wrapper" just to center elements-->
      <div class="primaryBox">
        <h2 class="title">Sign Up<h2>
            <form id="registerForm" class="info" action="/show" onsubmit="return passwordValidation()" method="POST">
              <!-- Muito importante sempre ter os atributos "action" (para onde será redirecionado no nosso app Express) e "method" (Qual método deverá ser usado no redirecionamento)-->
              <input class="inputs" type="text" placeholder="Nome" name="name" required>
              <!-- Todos os elementos <input> do form devem ter o atributo "name"-->
              <input class="inputs" type="text" placeholder="Sobrenome" name="surname" required>
              <input id="email" class="inputs" type="text" placeholder="Email" name="email" required>
              <input id="password1" class="inputs" type="password" placeholder="Senha" required>
              <input id="password2" class="inputs" type="password" placeholder="Confirme Senha" name="password" required>
              <label for="password">A senha deve conter pelo menos 10 caracteres </label>
              <p id="passwordValidationProgress">Status</p>

              <input class="button" id="register" type="submit" value="Cadastrar">
            </form>
      </div>
    </div>
  </div>
</body>
<script>
  let registerForm = document.getElementById("registerForm")
  let registerButton = document.getElementById("register")
  let label = document.getElementsByTagName("label") 
  let password1 = document.getElementById("password1")
  let password2 = document.getElementById("password2")
  let passwordValidationProgress = document.getElementById("passwordValidationProgress")

  function passwordValidation() {
    console.log(password1.value, password2.value)
    if (password1.value =! password2.value) {
      window.alert("not match")
      console.log("not match")
    }
    if (password1.value == password2.value) {
      window.alert("MATCH")
      console.log("not match")
    }
  }
</script>

</html>