<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>simpleCRUD</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main">
    <div class="wrapper"> <!-- "main" and "wrapper" just to center elements-->
      <div class="primaryBox">
        <h2 class="title">Log In<h2>
            <form id="logInForm" class="info" action="/show" method="POST">
              <input id="logInEmail" class="inputs" type="email" placeholder="Email" name="email" required>
              <input id="logInPassword" class="inputs" type="password" placeholder="Senha" name="password" required>
              
              <input class="button" id="logInButton" type="submit" value="Entrar">
            </form>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script language='javascript' type='text/javascript'>
</script>
</html>